<mat-card class="mat-elevation-z2 timeline-card">
  <mat-card-content>
    <div class="timeline-wrapper">
      <div class="timeline-item" *ngFor="let event of timelineData">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <div class="d-flex justify-content-between">
            <div class="timeline-title">{{ event.title }}</div>
            <div class="timeline-date">{{ event.date }}</div>
          </div>
          <div class="timeline-description">
            {{ event.description }}
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card> 