/* Overall Header Style */
.header {
    height: 3rem;
    margin-left: 3rem;
    width: -webkit-fill-available !important;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: left 0.3s ease, width 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-secondary-color);
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo h4 {
  margin: 0;
  color: var(--text-color);
  font-size: 1.2rem;
}

.logo a{
  color: var(--text-color);
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: 5px 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  max-width: 15rem;
}

.search-bar i{
  color: var(--primary-color) !important;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: var(--text-color);
  border: none !important;
}

.search-bar input::placeholder {
  color: var(--text-secondary-color);
}

/* Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  background-color: var(--surface-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn i {
  font-size: 1rem;
  color: var(--text-secondary-color);
}

.btn:hover {
  background-color: var(--border-color);
}

.btn:hover i {
  color: var(--text-color);
}

/* User Profile */
.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-profile .profile-info {
  text-align: right;
}

.user-profile .name {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
}

.user-profile .specialization {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
  margin: 0;
}

/* Dropdown Menu Styling */
.dropdown-menu {
  min-width: 200px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 0.5rem 0;
  background-color: var(--background-color);
  transform: translate(0px, 2.5rem) !important;
}

/* Dropdown Items */
.dropdown-menu .dropdown-item {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover Effects */
.dropdown-menu .dropdown-item:hover {
  background-color: var(--surface-color);
  color: var(--primary-color);
}

/* Divider Styling */
.dropdown-menu .dropdown-divider {
  margin: 0.5rem 0;
  border-color: var(--border-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .logo h4 {
    font-size: 1rem;
  }

  .search-bar {
    max-width: 200px;
  }

  .header-right {
    gap: 15px;
  }

  .user-profile .profile-info {
    display: none;
  }
}

/* logo */
.logo a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
}

