<header
  class="header"
  [class.sidebar-hovered]="isHovered$ | async"
  [class.sidebar-pinned]="isPinned$ | async"
>
  <!-- Logo Section -->
  <div class="logo">
    <h4>Good Morning, Dr.Swapnil!</h4>
  </div>

  <!-- Search Bar Section -->
   <div class="d-flex ">
    <div class="search-bar">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search here..." />
    </div>
    <div class="icon">
      <i class="fas fa-bell"></i>
    </div>
   </div>


  <!-- Right-side Icons Section -->
  <div class="header-right">
    <div class="icon">
      <i
        class="fas"
        [class.fa-expand]="!isFullscreen"
        [class.fa-compress]="isFullscreen"
        (click)="toggleFullscreen()"
      ></i>
    </div>
    <div class="icon">
      <i class="fas fa-globe"></i>
    </div>
    <div class="icon">
      <i class="fas fa-comment-alt"></i>
    </div>

    <div class="icon">
      <i class="fas fa-user"></i>
    </div>
  </div>
</header>
