<div class="calendar-container">
  <div class="calendar-header">
    <div class="calendar-controls">
      <button mat-icon-button (click)="previousPeriod()" matTooltip="Previous">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-button (click)="today()">Today</button>
      <button mat-icon-button (click)="nextPeriod()" matTooltip="Next">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <h2 class="current-date">{{ currentDate | date:'MMMM yyyy' }}</h2>
    </div>
    <div class="view-controls">
      <button mat-button [class.active]="viewMode === 'month'" (click)="changeView('month')">Month</button>
      <button mat-button [class.active]="viewMode === 'week'" (click)="changeView('week')">Week</button>
      <button mat-button [class.active]="viewMode === 'day'" (click)="changeView('day')">Day</button>
    </div>
  </div>

  <div class="calendar-body" [ngClass]="viewMode">
    <!-- Month View -->
    <div class="month-view" *ngIf="viewMode === 'month'">
      <div class="weekdays-header">
        <div class="weekday" *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">
          {{ day }}
        </div>
      </div>
      <div class="days-grid">
        <div class="day-cell" 
             *ngFor="let day of getDaysInMonth(currentDate)"
             [class.other-month]="day.getMonth() !== currentDate.getMonth()"
             [class.today]="isToday(day)"
             [class.selected]="isSelected(day)"
             (click)="selectDate(day)">
          <div class="day-number">{{ day | date:'d' }}</div>
          <div class="day-events">
            <div class="event-dot" 
                 *ngFor="let event of getEventsForDate(day)"
                 [matTooltip]="event.title + ' - ' + event.patientName"
                 [style.background-color]="getStatusColor(event.status)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Week View -->
    <div class="week-view" *ngIf="viewMode === 'week'">
      <div class="time-column">
        <div class="time-slot" *ngFor="let hour of getHours()">
          {{ hour }}:00
        </div>
      </div>
      <div class="days-columns">
        <div class="day-column" *ngFor="let day of getDaysInWeek(currentDate)">
          <div class="day-header">{{ day | date:'EEE d' }}</div>
          <div class="day-events">
            <div class="event" 
                 *ngFor="let event of getEventsForDate(day)"
                 [style.top.%]="getEventPosition(event)"
                 [style.height.%]="getEventHeight(event)"
                 [matTooltip]="event.title + ' - ' + event.patientName"
                 (click)="showEventDetails(event)">
              {{ event.title }}
            </div>
            <div class="time-slot-clickable" 
                 *ngFor="let hour of getHours()"
                 [style.top.%]="(hour * 100) / 24"
                 [style.height.%]="100 / 24"
                 (click)="clickTimeSlot(hour, 0)">
            </div>
            <div class="time-slot-clickable" 
                 *ngFor="let hour of getHours()"
                 [style.top.%]="((hour * 60 + 30) * 100) / (24 * 60)"
                 [style.height.%]="100 / (24 * 2)"
                 (click)="clickTimeSlot(hour, 30)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Day View -->
    <div class="day-view" *ngIf="viewMode === 'day'">
      <div class="time-column">
        <div class="time-slot" *ngFor="let hour of getHours()">
          {{ hour }}:00
        </div>
      </div>
      <div class="day-events">
        <div class="event" 
             *ngFor="let event of getEventsForDate(selectedDate)"
             [style.top.%]="getEventPosition(event)"
             [style.height.%]="getEventHeight(event)"
             [matTooltip]="event.title + ' - ' + event.patientName"
             (click)="showEventDetails(event)">
          {{ event.title }}
        </div>
        <div class="time-slot-clickable" 
             *ngFor="let hour of getHours()"
             [style.top.%]="(hour * 100) / 24"
             [style.height.%]="100 / 24"
             (click)="clickTimeSlot(hour, 0)">
        </div>
        <div class="time-slot-clickable" 
             *ngFor="let hour of getHours()"
             [style.top.%]="((hour * 60 + 30) * 100) / (24 * 60)"
             [style.height.%]="100 / (24 * 2)"
             (click)="clickTimeSlot(hour, 30)">
        </div>
      </div>
    </div>
  </div>
</div> 