.appointment-create-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 90vh;
  background: var(--surface-color);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);

  &.view-mode {
    .dialog-content {
      opacity: 1;
    }
  }


  .dialog-content {

    .form {
      .form-row {

        .form-field {
          width: 100%;
        }
      }
    }
  }

}

.calendar-container {
  width: 100%;
  height: 29em;
}

.calendar-container-wrapper{
  display: flex;
}

.notes-input{
  width: 100%;
}