<div class="assign-diet-dialog">
  <!-- Dialog Header -->
  <div class="dialog-header">
    <div class="header-content">
      <div class="title-section">
        <app-icon [fontIcon]="'group_work'" class="title-icon"></app-icon>
        <h2 class="title">{{ dialogTitle }}</h2>
      </div>
      <app-icon [fontIcon]="'close'" (iconClick)="onCancel()"></app-icon>
    </div>
  </div>

  <!-- Dialog Content -->
  <div class="dialog-content">

  </div>

  <!-- Dialog Footer -->
  <div class="dialog-footer">
    <div class="footer-actions">
      <app-button
        type="button"
        appearance="basic"
        (btnClick)="onCancel()"
        [text]="'Cancel'"
        class="cancel-btn">
      </app-button>
    </div>
  </div>
</div> 