.lucide {
    display: inline-block;
    vertical-align: middle;
  } 

// Icomoon icon styles - more specific selectors
.icomoon,
i.icomoon[class^="icon-"],
i.icomoon[class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-family: 'icomoon' !important;
}

.icon-covered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--primary-icon-width);
  height: var(--primary-icon-height);
  border: var(--primary-border);
  border-radius: var(--button-radius);
  background: var(--secondary-color);
  box-shadow: var(--primary-shadow);
  cursor: pointer;
  
  i.icomoon[class^="icon-"],
  i.icomoon[class*=" icon-"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
} 
.icon-blink{
  animation: blink 1s infinite;
}
.font-bold{
  font-weight: 600;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

// Material icon styles - ensure proper isolation
.material-icon {
  ::ng-deep {
    .material-icons {
      font-family: "Material Icons" !important;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
    }
  }
}