<div class="app">
  <!-- Sidebar -->

  <app-header></app-header>

  <!-- Main Content Area -->
  <div class="main">
    <!-- Header -->
    <app-sidebar
      [class.expanded]="isSidebarPinned"
      (mouseenter)="onSidebarHoverStart()"
      (mouseleave)="onSidebarHoverEnd()"
    >
    </app-sidebar>

    <!-- Content -->
    <div class="content" [class.shifted]="isSidebarPinned">
      <mat-card class="mt-1">
        <mat-card-content>
          <!-- Routed content goes here -->
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Right Sidebar -->
    <app-right-sidebar #rightSidebar></app-right-sidebar>

    <button
      class="draggable-button"
      cdkDrag
      [cdkDragBoundary]="'.main'"
      [style.position]="'fixed'"
      [style.right]="'20px'"
      [style.top]="'50%'"
      [style.fontWeight]="'500'"
      (click)="toggleRightSidebar()"
    >
      {{ waitingPatientsCount }}
    </button>
  </div>
</div>
