:root {
    --primary-color: #10b3b3;
    --background-color: #ffffff;
    --page-background-color: #f8fafc;
    --text-color: #000000;
    --button-radius: 4px;
    --input-radius: 4px;
    --primary-font-size: 1.2em;
    --primary-font-weight: 600;
    --primary-font-color: #222;
    --primary-font-family: sans-serif;
  
    --secondary-font-size: 1em;
    --secondary-font-weight: 400;
    --secondary-font-color: #222;
    --secondary-font-family: sans-serif;
  
    --tertiary-font-size: 0.8em;
    --tertiary-font-weight: 300;
    --tertiary-font-color: #222;
    --tertiary-font-family: sans-serif;
  
    --primary-border:1px solid #e0e0e0;
    --primary-shadow: 0 1px 2px rgba(0,0,0,0.03);
    
    --primary-icon-width: 2.5em;
    --primary-icon-height: 2.5em;
  
    --secondary-color: #fff;
    --tertiary-color: #888;

    --surface-color: #fff;
    --border-color: #80808026;
    
  }
  
  .primary-theme {
    --primary-color: #10b3b3;
    --background-color: #ffffff;
    --text-color: #000000;
    --button-radius: 4px;
    --input-radius: 8px;
    --primary-font-size: 1.2em;
    --primary-font-weight: 600;
    --primary-font-color: #222;
    --primary-font-family: sans-serif;
  
    --secondary-font-size: 1em;
    --secondary-font-weight: 400;
    --secondary-font-color: #222;
    --secondary-font-family: sans-serif;
  
    --tertiary-font-size: 0.8em;
    --tertiary-font-weight: 300;
    --tertiary-font-color: #222;
    --tertiary-font-family: sans-serif;
  
    --primary-border:1px solid #e0e0e0;
    --primary-shadow: 0 1px 2px rgba(0,0,0,0.03);
    
    --primary-icon-width: 2.5em;
    --primary-icon-height: 2.5em;
  
    --secondary-color: #fff;
    --tertiary-color: #888;
  
    --sidebar-width: 16em;
    --sidebar-min-width: 10em;
    --sidebar-background-color: #fff;
    --sidebar-box-shadow: 2px 0 8px rgba(0,0,0,0.04);
    --sidebar-transition: width 0.2s cubic-bezier(0.4,0,0.2,1), min-width 0.2s cubic-bezier(0.4,0,0.2,1);
  
    --sidebar-collapsed-width: 4em;
    --sidebar-collapsed-min-width: 4em;
  
    --sidebar-nav-item-margin: 0 0.8em 0.2em 0.8em;
    
    --sidebar-header-padding: 24px 16px 16px 16px;
    --sidebar-min-height: 4em;

    --right-sidebar-width: 25%;
    --right-sidebar-min-width: 22em;
    --right-sidebar-header-padding: 0em 0em 0em 1em;

    --page-content-padding: 0.5em 1em 0.5em 1em;

    --secondary-background-color: #f7f8fa;
    

    --surface-color: #fff;
    --border-color: #80808026;


    --diet-primary-color: #4ecdc4;
    --diet-secondary-color: #96ceb4;
    --diet-tertiary-color: #feca57;
    --diet-quaternary-color: #ff9ff3;
    --diet-quinary-color: #ff6b6b;
    --diet-senary-color: #b0aaff;
    --diet-septenary-color: #d6b27f;
    --diet-octonary-color: #3f9ad6;
    --diet-nonary-color: #fb9cb1;


    --menu-box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
  }