<mat-form-field appearance="outline" class="date-picker-field">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input 
    matInput 
    [matDatepicker]="picker" 
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [min]="minDate"
    [max]="maxDate"
    [value]="value"
    (dateChange)="onDateChange($event.value)"
    (input)="onDateInput($event)"
    (blur)="markAsTouched()">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [startView]="startView"></mat-datepicker>
  <mat-error *ngIf="required && !value">
    This field is required
  </mat-error>
</mat-form-field> 