<div class="dashboard-container">
  <!-- Top Metrics Section -->
  <div class="metrics">
    <div class="card" *ngFor="let metric of metrics">
      <div class="card-heading">{{ metric.title }}</div>
      <div class="card-middle-content d-flex">
        {{ metric.value }}
        <div
          *ngIf="metric.increment"
          [ngClass]="{
            'increment-positive': metric.increment.startsWith('+'),
            'increment-negative': metric.increment.startsWith('-')
          }"
          class="increment"
        >
          <span class="icon-container">
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-arrow-trend-up': metric.increment.startsWith('+'),
                'fa-arrow-trend-down': metric.increment.startsWith('-')
              }"
            ></i>
          </span>
          <span class="increment-text">
            {{ metric.increment }}
          </span>
        </div>
      </div>
      <div class="card-bottom-content">
        <p class="duration">{{ metric.subtext }}</p>
        <button class="button-class">See details</button>
      </div>
    </div>
  </div>

  <!-- Patient Visits Chart -->
  <div class="chart-container">
    <h3>Patient Visit</h3>
    <div>
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="visitChartOptions"
        style="width: 100%; height: 300px; display: block"
      >
      </highcharts-chart>
    </div>
  </div>

  <!-- Patient Appointments -->
  <div class="appointments">
    <h3>Patient Appointment</h3>
    <ag-grid-angular
      style="width: 100%; height: 80%; display: block"
      [rowData]="appointments"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
    />
  </div>

  <!-- Doctor's Schedule -->
  <div class="doctor-schedule">
    <h3>Doctor's Schedule</h3>
    <div class="schedule">
      <div class="schedule-sub-div">
        <p>Available</p>
        <p>{{ schedule.available }}</p>
      </div>
      <div class="schedule-sub-div">
        <p>Unavailable</p>
        <p>{{ schedule.unavailable }}</p>
      </div>
      <div class="schedule-sub-div">
        <p>Leave</p>
        <p>{{ schedule.leave }}</p>
      </div>
    </div>
    <ul>
      <li *ngFor="let doctor of doctors">
        {{ doctor.name }} - {{ doctor.specialization }}
        <span [ngClass]="doctor.status">{{ doctor.status }}</span>
      </li>
    </ul>
  </div>
</div>
