.dashboard-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.metrics {
  grid-column: span 4;
  display: flex;
  gap: 1rem;
  margin-top: 1em;
}

.card {
  flex: 1;
  padding: 1em;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-middle-content {
  align-items: center;
  font-weight: 700;
  font-size: 1.7em;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-class {
  font-weight: 500;
  border-radius: 0.5em;
  border: 0.1em solid #009479;
  padding: 0.2em 1em;
  width: max-content;
  background-color: #009479;
  color: white;
}

.button-class:hover {
  border: 0.1em solid #009479;
  background-color: white;
  color: #009479;
  cursor: pointer;
}

.duration {
  font-weight: 500;
  font-size: 0.8em;
  color: #979292;
}

.card-heading {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.4em;
  color: #514e4e;
}

.chart-container,
.appointments,
.doctor-schedule {
  grid-column: span 2;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.1);
}

.appointments {
  width: 100%;
}

.appointments .Confirmed {
  color: green;
}

.appointments .Pending {
  color: orange;
}

.appointments .Cancelled {
  color: red;
}

.doctor-schedule ul {
  list-style: none;
  padding: 0;
}

.doctor-schedule li {
  padding: 0.5rem 0;
}

/* Increment UI */
.increment {
  display: flex;
  height: min-content;
  align-items: center;
  font-size: 0.8em;
  font-weight: 400;
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  border: #97929225 1px solid;
  background: white; /* Subtle background for better readability */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.increment-positive {
  color: #28a745; /* Green for positive values */
}

.increment-negative {
  color: #dc3545; /* Red for negative values */
}

.increment:hover {
  border: none;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add hover effect */
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em; /* Slightly larger icon */
  margin-right: 0.3rem;
}

.increment-text {
  font-size: 0.75em;
  font-weight: bold;
}

.increment-positive {
  color: rgb(64, 201, 64);
}

.increment-negative {
  color: rgb(201, 64, 64);
}

.schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #3d3a3a25 1px solid;
}

.schedule-sub-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
