<ng-container *ngIf="showCard">
  <mat-card class="chart-card mat-elevation-z2">
    <mat-card-header *ngIf="title">
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="chart-wrapper" [style.height]="height">
        <highcharts-chart 
          *ngIf="isBrowser"
          [Highcharts]="Highcharts" 
          [options]="chartOptions"
          style="width: 100%; height: 100%; display: block;">
        </highcharts-chart>
        <div *ngIf="!isBrowser" class="ssr-placeholder" [style.height]="height">
          Chart will render in browser
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="!showCard">
  <div class="chart-wrapper" [style.height]="height">
    <highcharts-chart 
      *ngIf="isBrowser"
      [Highcharts]="Highcharts" 
      [options]="chartOptions"
      style="width: 100%; height: 100%; display: block;">
    </highcharts-chart>
    <div *ngIf="!isBrowser" class="ssr-placeholder" [style.height]="height">
      Chart will render in browser
    </div>
  </div>
</ng-container> 