:root {
  --header-height: 42px;
  --total-weeks: 6;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.cell-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
}
.appointment {
  position: relative;
  z-index: 9;
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lavender;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.appointment span {
  text-align: left;
  line-height: 15px;
}
.calendar-view-month {
  table-layout: fixed;
  margin-top: 1rem;
}
.calendar-view-month thead th {
  font-size: 22px;
  font-weight: 100;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.calendar-view-month tbody tr td {
  vertical-align: top;
  position: relative;
  border-right: 1px solid #ddd;
  height: 150px;
  border-bottom: 1px solid #ddd;
  padding: 3px 0;
}
.calendar-view-month tbody tr td:first-child {
  border-left: 1px solid #ddd;
}
.calendar-view-month tbody tr td.selected {
  background-color: #bbdefb;
}
.calendar-view-month tbody tr td.today {
  background-color: #e3f2fd;
}
.calendar-view-month tbody tr td .date {
  text-align: right;
  font-size: 22px;
  font-weight: 100;
  padding: 5px 10px 0;
}
.calendar-view-week {
  margin-top: 1rem;
}
.calendar-view-week thead th {
  font-size: 22px;
  font-weight: 100;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.calendar-view-week tbody tr td {
  position: relative;
  border-right: 1px solid #ddd;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 3px 0;
  width: calc(100% / 7);
}
.calendar-view-week tbody tr td.calendar-slot-cell {
  width: 1%;
  font-size: 12px;
  font-weight: 100;
  border-right: 1px solid #ddd;
  padding-right: 5px;
  vertical-align: top;
}
.calendar-view-week tbody tr td.calendar-slot-cell span {
  position: relative;
  top: -12px;
  background: #fff;
  width: 100%;
  display: block;
}
.calendar-view-week tbody tr:last-child td {
  border-bottom: none;
  border-right: none;
}
.calendar-view-week tbody tr:last-child td.calendar-slot-cell {
  border-right: none;
}
.calendar-view-week tbody tr:last-child td .cell-overlay {
  display: none;
}
.calendar-view-day {
  margin-top: 1rem;
}
.calendar-view-day tr:first-child td {
  border-top: 1px solid #ddd;
}
.calendar-view-day tr td {
  position: relative;
  border-bottom: 1px solid #ddd;
  height: 50px;
  padding: 3px 0;
}
.calendar-view-day tr td.calendar-slot-cell {
  font-size: 12px;
  font-weight: 100;
  border-right: 1px solid #ddd;
  padding-right: 5px;
  vertical-align: top;
}
.calendar-view-day tr td.calendar-slot-cell span {
  position: relative;
  top: -12px;
  background: #fff;
  width: 100%;
  display: block;
}
.calendar-view-day tr:last-child td {
  border-bottom: none;
}
.calendar-view-day tr:last-child td.calendar-slot-cell {
  border-right: none;
}
.calendar-view-day tr:last-child td .cell-overlay {
  display: none;
}
.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar-container .calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: 10px 0;
}
.calendar-container .calendar-header h2 {
  margin: 0;
}
.calendar-container .calendar-header .calendar-month {
  font-weight: bold;
}
.calendar-container .calendar-header .calendar-month span {
  font-weight: 100;
}
.calendar-container .calendar-header .calendar-controls {
  display: flex;
  justify-content: flex-end;
}
.black-icon {
  color: black;
}
.black-icon svg {
  fill: black;
}
