:root {
  --header-height: 60px;
  --total-weeks: 6;
  --primary-color: #3f51b5;
  --secondary-color: #f5f5f5;
  --highlight-color: #ffeb3b;
  --text-color: #333;
  --border-radius: 10px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.cell-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s;
}

.cell-overlay:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.appointment {
  position: relative;
  z-index: 9;
  padding: 8px 12px;
  margin-top: 4px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: rgb(0, 0, 0);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.3s;
}

.appointment:hover {
  background: darken(var(--primary-color), 10%);
}

.appointment span {
  text-align: left;
  line-height: 18px;
}

.calendar-view-month {
  table-layout: fixed;
  margin-top: 1.5rem;
  border-collapse: collapse;
}

.calendar-view-month thead th {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
  padding: 10px 0;
  color: var(--text-color);
}

.calendar-view-month tbody tr td {
  vertical-align: top;
  position: relative;
  border-right: 1px solid #ddd;
  height: 150px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  background-color: white;
  transition: background-color 0.3s;
}

.calendar-view-month tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

.calendar-view-month tbody tr td.selected {
  background-color: var(--highlight-color);
}

.calendar-view-month tbody tr td.today {
  background-color: lighten(var(--primary-color), 40%);
}

.calendar-view-month tbody tr td .date {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px 0;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-actions {
  display: flex;
  gap: 5px;
  position: relative;
  align-items: center;
}

.date-actions button {
  padding: 4px;
  min-width: 0;
  line-height: normal;
  height: auto;
  border: none;
  position: relative;
  z-index: 1;
}

.date-actions .mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  display: flex;
  color:  #95b1fd;;
  align-items: center;
  justify-content: center;
}

.appointment-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #95b1fd;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  min-width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 5px;
}

.calendar-view-week {
  margin-top: 1.5rem;
}

.calendar-view-week thead th {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
  padding: 10px 0;
  color: var(--text-color);
  position: relative;
}

.calendar-view-week tbody tr td {
  position: relative;
  border-right: 1px solid #ddd;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  width: calc(100% / 7);
  background-color: white;
  transition: background-color 0.3s;
}

.calendar-view-week tbody tr td.calendar-slot-cell {
  width: 1%;
  font-size: 12px;
  font-weight: 100;
  border-right: 1px solid #ddd;
  padding-right: 5px;
  vertical-align: top;
}

.calendar-view-week tbody tr td.calendar-slot-cell span {
  position: relative;
  top: -12px;
  background: #fff;
  width: 100%;
  display: block;
}

.calendar-view-week tbody tr:last-child td {
  border-bottom: none;
  border-right: none;
}

.calendar-view-week tbody tr:last-child td.calendar-slot-cell {
  border-right: none;
}

.calendar-view-week tbody tr:last-child td .cell-overlay {
  display: none;
}

.calendar-view-day {
  margin-top: 1.5rem;
}

.calendar-view-day tr:first-child td {
  border-top: 1px solid #ddd;
}

.calendar-view-day tr td {
  position: relative;
  border-bottom: 1px solid #ddd;
  height: 50px;
  padding: 5px;
  background-color: white;
  transition: background-color 0.3s;
}

.calendar-view-day tr td.calendar-slot-cell {
  font-size: 12px;
  font-weight: 100;
  border-right: 1px solid #ddd;
  padding-right: 5px;
  vertical-align: top;
}

.calendar-view-day tr td.calendar-slot-cell span {
  position: relative;
  top: -12px;
  background: #fff;
  width: 100%;
  display: block;
}

.calendar-view-day tr:last-child td {
  border-bottom: none;
}

.calendar-view-day tr:last-child td.calendar-slot-cell {
  border-right: none;
}

.calendar-view-day tr:last-child td .cell-overlay {
  display: none;
}

.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.calendar-container .calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: 15px 20px;
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.calendar-container .calendar-header h2 {
  margin: 0;
  font-size: 24px;
}

.calendar-container .calendar-header .calendar-month {
  font-weight: bold;
}

.calendar-container .calendar-header .calendar-month span {
  font-weight: 100;
}

.calendar-container .calendar-header .calendar-controls {
  display: flex;
  justify-content: flex-end;
}

.black-icon {
  color: black;
}

.black-icon svg {
  fill: black;
}
