<header class="topbar">
  <div class="topbar-left">
    @if(breadcrum.length > 0){
      <div class="breadcrums">
        <span *ngFor="let item of breadcrum; let i = index" (click)="onBreadcrumbClick(item)">
          {{ item.title }}
          @if(i < breadcrum.length - 1){
            <span class="separator">
              <app-icon [fontIcon]="'chevron_right'"></app-icon>
            </span>
          }
        </span>
      </div>
    }
    @else{
      <div class="greeting">
        Good Morning, <b>Dr.Umesh!</b>
      </div>
    }
  </div>
  <div class="topbar-center">
    <div class="search-box">
      <app-input
        [search]="true"
        type="text"
        placeholder="Search type of Keywords"
        prefixIconName="search"
        [(value)]="searchText"
      ></app-input>
    </div>
    <app-icon 
      fontIcon="notifications" 
      [isCovered]="true"
      (iconClick)="onNotificationClick($event)"
    ></app-icon>

    <app-icon  
    [isCovered]="true"
    [counter]="1"
    [isBlink]="true"
    [color]="'#10b3b3'"
    [fontBold]="true"
    (iconClick)="showPatientQueue($event)"
  ></app-icon>
  </div>
  <div class="topbar-right">
    <button 
      type="button"
      appearance="flat"
      mat-icon-button 
      [matMenuTriggerFor]="profileMenu" 
      class="profile-menu-trigger"
      (click)="onProfileClick($event)">
      <div class="profile">
        <img class="avatar" src="https://randomuser.me/api/portraits/men/32.jpg" alt="" />
        <div class="profile-info">
          <div class="profile-name">Dr.Umesh</div>
          <div class="profile-role">Cardiologist</div>
        </div>
        <app-icon [fontIcon]="'arrow_drop_down'"></app-icon>
      </div>
    </button>

    <mat-menu #profileMenu="matMenu" class="profile-menu">
      <button mat-menu-item (click)="onProfileMenuClick()">
        <app-icon [fontIcon]="'person'" class="menu-icon"></app-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="onSettingsMenuClick()">
        <app-icon [fontIcon]="'settings'" class="menu-icon"></app-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="onLogoutClick()">
        <app-icon [fontIcon]="'logout'" class="menu-icon"></app-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</header>
